<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="simon.sandbox">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sandbox">
        <activity
            android:name=".CodeLabComposeBasics"
            android:exported="true"
            android:label="@string/title_activity_code_labe_compose_basics"
            android:theme="@style/Theme.Sandbox.NoActionBar" />
        <activity
            android:name=".CodeLabComposeLayouts"
            android:exported="true"
            android:label="@string/title_activity_code_labe_compose_basics"
            android:theme="@style/Theme.Sandbox.NoActionBar" />
        <activity
            android:name=".CodeLabComposeLists"
            android:exported="true"
            android:label="@string/title_activity_code_labe_compose_basics_layouts"
            android:theme="@style/Theme.Sandbox.NoActionBar" />
        <activity
            android:name=".NewsStoryGoogleIo"
            android:exported="true"
            android:label="@string/title_activity_new_story_google_io"
            android:theme="@style/Theme.Sandbox.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Sandbox.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>